html
{
    padding: 16px;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu
{
    padding: 16px;
    width: fit-content;
}

.heroText
{
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.menuTitle
{
    width: fit-content;
    padding-right: 16px;
    margin: 16px;
    border-bottom: 2px solid lightseagreen;
    border-bottom-right-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.catogories
{
    background-color: antiquewhite;
    padding: 16px;
    width: fit-content;
    border: 1px solid lightcyan;
    border-radius: 25px;
}

.category
{
    
    padding-bottom: 30px;
    width: fit-content;
}

.category a
{
    padding: 16px;
    color: black;
    font-size: 30px;
    margin: 16px;
    text-decoration: none;
    
    border-radius: 25px;
}

.category a:hover
{
    background-color: lightslategray;
    color: whitesmoke;
    transition: 0.3s;
}