html
{
    padding: 16px;
    min-width: 500px;
    min-height: 500px;
    
}

@media screen and (max-width: 600px) {
    h1
    {
        font-size: 25px;
    }

    div.square
    {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 601px) {
    h1
    {
        font-size: 35px;
    }

    div.square
    {
        font-size: 30px;
    }
    
}

body
{
    background: linear-gradient(90deg, lightpink, white, pink);

    height: 90vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-family: 'Work Sans', sans-serif;
    font-size: 35px;
}

h2
{
    width: fit-content;
    padding: 12px;
}

.card
{
    
    border-radius: 20px;
    padding: 16px;
    background-color: lightcoral;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.text
{
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 20px;
}

.time
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: auto;
    display: flex;
    text-align: center;
    width: fit-content;
}

.square
{
    font-size: 30px;
    float: left;
}

.day
{
    width: fit-content;
    color: blueviolet;
}

.hour
{
    width: fit-content;
    color: crimson;
}

.minute
{
    width: fit-content;
    color: chocolate;
}



